@homecityice:registry=https://node-registry.bit.cloud
@backend:registry=https://node-registry.bit.cloud
@bitdesign:registry=https://node-registry.bit.cloud
@bitdev:registry=https://node-registry.bit.cloud
@frontend:registry=https://node-registry.bit.cloud
@srocha:registry=https://node-registry.bit.cloud
@teambit:registry=https://node-registry.bit.cloud
@vita:registry=https://node-registry.bit.cloud
//node-registry.bit.cloud/:_authToken="OFdzPTovbE8vUWc9PV9HekRvQVlNeHplU0MyanNqSStoSlZRPT0ucUNweksydnRqeGVtTUlDaVNxSWc5cDlpN1p0ai9acEU3WkdHKzdqQjlqRnFNODIvN2J2bTBjVmV2aW5rRFlDa1pCTVpxYytsR0w2ZU5jVGhScFVBWkFtdDZEeml0YVlXb1BMc0IxMVN2VlJ6dldLUVBrRzM5VkZCK1Jqd0QvMDdiNlFUY1Uzc0w2dHRGTnU0L01GRk5SOFg3QlkzMmxGQ1E3UmFHSjZrajQxVHlxaE5kczB1ZkdoZW52eXB3aTFKRU8xZG5GNFFGMUVmZm1tM0J1UnVHMmdUTjlDV1hrUExhckNRaVN2dVFLTE5vbjYwRGNlN3AwYlgremRvaG51dSs1WXRCUFppQ2lNbTNBRWt4OHNEc2dGdlo4WVVGNEZZL21ZVnZHdVd2anFORVhsWEMrUmhvdjl0dHBPYjVTZjh3aHhvaloxUlg5S3gvU2QxelNBNkhnTFhCaWFUR0tDV1NpVjE4TUJ0UFpSaE1Ma09XV0Y4MTVXN0lqOXlCNWtURitJU3VhdENONE5LRjJvZlFPOGd0a3owUTY2TXpGNHo1TjQweEgxV3lkcjVXakM3djUxSTg3TWFHWjBTUG50NFVuc1F1cnk5SmhjeVk4d1ZPMmNIL0xSNHdYWUYrc1p5MGsxaHJwaWxLSkNSaytMc0dxNE0vMVptOEZhbk5oeDNGU1ZKdVV2K2swdE5KQll2dVZ0M3FkRGNuNHh0bzlvZGROclVRRHcvdWlRb1N0UG1KemdjQWtYeXNySC9iUmhBUVdrL2pMeTdjek42UklkK2NQMW1qSzRuZU1TV1ZiTFRKU2lkQ3VmK3RjNUhDY2syaUR6T2dVMkZsNzRpZmF2bFlSTWI5VTNhbzluRllTQUp0a25TWmc9PQ=="

